@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #232323 !important;
    position: relative;
    overflow-x: hidden;
}

#light-left-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: radial-gradient(ellipse at left top, rgba(113, 174, 212, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
    transform: translate(-40%, -20%);
    z-index: -99;
}

header {
    width: 100%;
    height: 50px;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 3px solid #4A4A4A;
}

header #logo {
    margin-left: 5%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    filter: drop-shadow(-.2rem .2rem 0.1rem rgb(0, 128, 255));
}

header #login-controll {
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header #login-controll #user {
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    border-radius: 5px;
    height: 100%;
    width: 200px;
    border: 1px solid rgb(122, 122, 122);
    background: rgb(51, 51, 51);
    background: linear-gradient(61deg, rgba(51, 51, 51, 0.2189250700280112) 0%, rgba(0, 1, 0, 0) 100%);
}

header #login-controll #user .user-icon {
    margin-right: 10%;
}

header #login-controll #log-out {
    height: 120%;
    width: 100px;
    font-weight: 500;
}

button {
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 800;
}


button:disabled {
    border: none !important;
    cursor: not-allowed !important;
}

.button.green {
    color: green;
    border: .05vw solid green;
    background: rgb(1, 255, 0);
    background: linear-gradient(61deg, rgba(1, 255, 0, 0.05085784313725494) 0%, rgba(0, 1, 0, 0) 100%);
}

.button.red {
    background: rgb(255, 0, 0);
    background: linear-gradient(61deg, rgba(255, 0, 0, 0.05085784313725494) 0%, rgba(0, 1, 0, 0) 100%);
    color: rgba(255, 0, 0, 0.6);
    border: .05vw solid rgba(255, 0, 0, 0.6);
}

.button.blue {
    background: rgb(0, 172, 255);
    background: linear-gradient(61deg, rgba(0, 172, 255, 0.05926120448179273) 0%, rgba(0, 1, 0, 0) 100%);
    border: .05vw solid #00aaff;
    color: #00aaffde;
}

.button.green:hover:enabled {
    background: green;
    color: white;
}

.button.blue:hover:enabled {
    background: #00aaff;
    color: #ffffff;
}

.button.red:hover:enabled {
    background: rgba(255, 0, 0, 0.6);
    color: white;
}

::-webkit-scrollbar {
    width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #515151;
    border-radius: .3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: .3rem;
}

main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "total total new_user"
        "url-form url-form users"
        "links links users"
        "links links all-links";
    padding: 20px 0px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #1C1C1C;
    color: rgb(201, 201, 201);
    padding: 10px;
    border-top: 3px solid #4A4A4A;
    font-size: .9rem;
}

footer #footer-link {
    color: rgba(226, 241, 255, 0.776);
}

footer #footer-link:hover {
    color: turquoise;
}

main .box-item {
    background-color: #1C1C1C;
    border-top: 4px solid #00b3ff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0px 3px 5px 0px #000000;
}

label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    width: 90%;
    height: 40px;
    color: #00b3ff;
    border: 1px solid #00b3ff;
}

label i {
    position: absolute;
    left: 10px;
}

/* total infos  */

main #total-infos {
    grid-area: total;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

#total-infos .total {
    width: 48%;
    height: 80%;
    background-color: #232323;
    border-radius: 10px;
}

#total-infos .total-conent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    border-radius: 10px;
    align-items: center;
    position: relative;
    justify-content: space-around;
    overflow: hidden;
}

.total-conent .content-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 60%;
    height: 80%;
}

#total-infos .total-icon {
    display: block;
    margin-right: 3%;
    border-radius: 10px;
    font-size: 2.5rem;
    color: #00b3ff;
}

#total-infos .total-text {
    color: white;
    font-weight: bolder;
}

#total-infos .total-bg {
    font-size: 6rem;
    color: #2c2c2c;
    text-align: center;
    text-decoration: solid;
}

#total-infos .total-text span {
    color: rgb(167, 167, 167);
    font-weight: 500;
}

/* new user form */

main #new-user {
    grid-area: new_user;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-user #new_user_box {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 80%;
    flex-wrap: wrap;
}

#new_user_box form {
    height: 70%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: end;
    gap: 2%;
}

#new_user_box form input {
    height: 40%;
    width: 49%;
    outline: none;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    transition: all 0.1s ease;
    caret-color: #cecece;
    background-color: #232323;
    color: white;
    align-self: flex-end;
}

#new_user_box form input::placeholder {
    color: rgba(181, 181, 181, 0.215);
    font-size: .9rem;
}

#new_user_box form input:focus {
    border-color: #00b3ff;
}

#new_user_box #save_new_user {
    height: 40%;
    width: 49%;
    align-self: flex-end;
}


#new_user_box .check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 49%;
    color: white;
    font-size: 1rem;
    border-bottom: 2px solid #49fcff;
}

#new_user_box .check-box input {
    height: 100%;
    width: 10%;
    margin-left: 2%;
}

/* url form */

main #url-form {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: url-form;
    height: 110px;
    position: relative;
}

#url-form form {
    /* background-color: #00b3ff; */
    height: 90%;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
}

#url-form input {
    width: 100%;
    height: 30%;
    outline: none;
    padding: 0 40px;
    font-size: .8rem;
    border: 1px solid #019be2;
    transition: all 0.1s ease;
    caret-color: #cecece;
    background-color: #232323;
    color: #cecece;
    border-radius: 5px;
}

#url-form input::placeholder {
    font-size: .8rem;
    font-weight: 700;
    color: rgba(151, 151, 151, 0.281);
}

#url-form form .url-form-icon {
    position: absolute;
    color: #00b3ff;
}

#url-form form .url-form-icon.long {
    top: 20%;
    left: 3%;
}

#url-form form .url-form-icon.tag {
    top: 65%;
    left: 3%;
}

#url-form #short_url_tag::placeholder {
    color: rgba(148, 148, 148, 0.571);
    text-align: center;
}

#url-form #short_url_tag {
    width: 49%;
    height: 30%;
}


#url-form #short_button {
    right: 1.5%;
    bottom: 20px;
    width: 10%;
    height: 30%;
}


/* users */

main #users {
    grid-area: users;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#users label {
    width: 100%;
}

#users #users_box {
    display: flex;
    height: 95%;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #00aaff; */
}


#users_box #user-list {
    width: 100%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;
}

#user-list .user-item {
    width: 98%;
    height: 50px;
    color: #fff;
    padding: 1%;
    border-left: 5px solid #00b3ff;
    border-radius: 2px;
    background: #232323;
    box-shadow: inset 15px 0 20px -18px rgba(0, 179, 255, 0.911);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    padding-right: 10px;
}

.user-item i {
    position: absolute;
    left: 10px;
    color: #5C5C5C;
    font-size: 1.2rem;
}

.user-item i.admin {
    color: #ffffff;
}

.user-item .action-buttons {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.user-item button {
    width: 50%;
    height: 70%;
    font-weight: 500;
}

/* links */

main #links {
    grid-area: links;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    overflow-y: auto;
    gap: 10px;
    align-content: flex-start
}

#links .link-item {
    width: 100%;
    background-color: #232323;
    height: 220px;
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.link-item .content {
    width: 60%;
    height: 100%;
}

.link-item .head {
    height: 20%;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.link-item .head div {
    display: inline;
}

.link-item .head .tooltip-hover-div:hover {
    color: #00aaff;
    cursor: pointer;
}

.tooltip-text {
    position: relative;
    display: none;
    z-index: 1;
    color: rgb(245, 245, 245);
    font-size: .8rem;
    background-color: #444444;
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    border-bottom: 2px solid orange;
}

.link-item .head .tooltip-hover-div:hover .tooltip-text {
    display: inline;
}

.link-item .link-info {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.link-info .url {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.url .full-url {
    color: turquoise;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-url i {
    color: rgb(180, 180, 180);
}

.head .click-count {
    color: #6e6e6e;
    font-weight: 500;
}

.link-info input {
    width: 100%;
    height: 50%;
    outline: none;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    transition: all 0.1s ease;
    caret-color: #a3a3a3;
    background-color: #232323;
    color: white;
    margin-bottom: .8rem;
    border-radius: .3rem;
}

.link-info #input_long_url {
    color: turquoise;
    font-size: .8rem;
}

.link-info input::placeholder {
    color: rgb(121, 121, 121);
    font-size: .9rem;
}

.link-info input:focus {
    border-color: #00b3ff;
}

.link-info .create-date {
    color: rgb(220, 220, 220);
    font-weight: 600;
}

.create-date>.date {
    color: rgb(151, 151, 151);
    font-weight: 400;
}

#links .link-action {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


.link-action button {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#non-link-info {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);

}

/* all links */

main #all-links {
    grid-area: all-links;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 10px;
}

#all-links #link-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 90%;
    height: 88%;
    overflow-y: auto;
    gap: 10px;
}



#all-links .all-link.item {
    width: 98%;
    height: 50px;
    color: #fff;
    padding: 1%;
    border-left: 5px solid #00b3ff;
    border-radius: 2px;
    background: #232323;
    box-shadow: inset 15px 0 20px -18px rgba(0, 179, 255, 0.911);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8rem;
}

#all-links .all-link.info {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#all-links .all-link.info a {
    color: antiquewhite;
}

#all-links .all-link.creator {
    color: rgb(145, 145, 145);
}

#all-links .all-link.delete {
    width: 20%;
    height: 70%;
    font-weight: 300;
    font-size: 1rem;
}


/* login page  */

#login-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 94.8vh;
    width: 100%;
}


#login-container #login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    height: 50vh;
    background-color: #1C1C1C;
    border-top: 4px solid #00b3ff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0px 3px 5px 0px #000000;
    padding: 1%;
}

#login_page form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 85%;
    gap: 10px;
    margin-top: 2%;
}

#login_page input {
    width: 90%;
    outline: none;
    padding: 5px 20px;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    transition: all 0.1s ease;
    caret-color: #a3a3a3;
    background-color: #232323;
    color: white;
    border-radius: 5px;
}

#login_page input:focus {
    border-color: #00b3ff;
}

#login_page input:focus::placeholder {
    color: #019be292;
}

#login_page input::placeholder {
    color: rgba(181, 181, 181, 0.215);
    font-size: .9rem;
}

#login_page #login_button {
    width: 80%;
    padding: 10px;
    margin-top: 10%;
}


/* alerts  */
.alert-box {
    min-height: 50px;
    position: fixed;
    text-align: center;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.alert-box .alert {
    padding: 20px 20px 20px 60px;
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    font-size: 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #1c1c1cff;
    border: 1px solid #b8b8b840;
}

.alert i {
    font-size: 1.8rem;
    position: absolute;
    left: 1rem;
    margin-right: 5%;
}

.alert.info i {
    color: orange;
    /* filter: drop-shadow(0 0 .3rem orange); */
}


.alert.error i {
    color: red;
    /* filter: drop-shadow(0 0 .3rem red); */
}

.alert.success i {
    color: green;
    /* filter: drop-shadow(0 0 .3rem green); */
}

.alert.info {
    border-bottom: 2px solid orange;
}


.alert.error {
    border-bottom: 2px solid red;

}

.alert.success {
    border-bottom: 2px solid green;
}

.alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: 600;
    float: right;
    font-size: 2rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.alert .closebtn:hover {
    color: rgb(255, 118, 118);
}

/* custom comfirm */

.custom-confirm {
    background-color: #232323;
    color: white;
    border: .05rem solid rgb(160, 160, 160);
    border-bottom: .4rem solid rgb(255, 255, 255);
    max-width: 60vw;
    min-width: 30vw;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
    border-radius: 5px;
    word-spacing: .2rem;

    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.6);
}

.custom-confirm.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.custom-confirm button {
    width: 25%;
    padding: 10px;
    margin-top: 10%;
    padding: 5px;
    height: 3rem;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(.1rem);
    background: rgba(0, 0, 0, 0.01);
    z-index: 9999;
}

button:disabled {
    cursor: not-allowed;
    border: none !important;
}

/* edit user  */

#edit-user-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    width: 500px;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 9999;
    word-spacing: .2rem;
    background-color: #1C1C1C;
    border-bottom: 4px solid #00b3ff;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 3px 5px 0px #000000;
    gap: 20px;

    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.6);
}

#edit-user-box.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#edit-user-box .content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

#edit-user-box button {
    width: 40%;
    padding: 10px;
    padding: 5px;
    justify-self: end;
}

#edit-user-box #cancel_edit_user {
    width: 40%;
    padding: 10px;
    padding: 5px;
    justify-self: end;
}


#edit-user-box input {
    width: 90%;
    outline: none;
    padding: 5px 20px;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    transition: all 0.1s ease;
    caret-color: #a3a3a3;
    background-color: #232323;
    color: white;
    border-radius: 5px;
}

#edit-user-box input:focus {
    border-color: #00b3ff;
}

#edit-user-box input:focus::placeholder {
    color: #019be292;
}

#edit-user-box input::placeholder {
    color: rgba(181, 181, 181, 0.215);
    font-size: .9rem;
}

#edit-user-box .check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 60%;
    color: white;
    font-size: 1rem;
    border-bottom: 2px solid #49fcff;
}

#edit-user-box .check-box input {
    height: 100%;
    width: 20%;
}

/* Küçük mobil cihazlar */
@media screen and (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "total"
            "url-form"
            "links"
            "new_user"
            "all-links"
            "users";
        gap: 1em;
    }

    header #logo {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    #total-infos {
        font-size: 1rem;
    }

    #total-infos .total-bg {
        display: none;
    }

    .total-conent .content-info {
        width: 100%;
        height: 80%;
        justify-content: center;
    }

    main #total-infos {
        height: 90px;
        font-size: .7rem;
    }

    main #url-form {
        height: 120px;
    }

    #url-form #short_button {
        width: 20%;
        height: 30%;
    }

    main #links {
        grid-area: links;
        max-height: 600px;
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        overflow-y: auto;
        gap: 10px;
        align-content: flex-start;
    }

    #links .link-item {
        height: 250px;
        padding: 10px;
    }

    .link-item .content {
        width: 100%;
        height: 60%;
    }


    #total-infos .total-icon {
        font-size: 1.2rem;
    }

    #links .link-action {
        width: 100%;
        height: 60%;
    }

    .link-action button {
        height: 25%;
    }

    .link-info input {
        width: 100%;
        height: 40%;
    }

    #url-form #short_url_tag {
        width: 75%;
    }

    main #new-user {
        height: 200px;
    }

    #new_user_box form {
        height: 90%;
    }

    #new_user_box form input {
        height: 30%;
    }

    #new_user_box #save_new_user {
        height: 25%;
        width: 49%;
        align-self: center;
    }

    .user-item .delete-user {
        font-size: .7rem;
        font-weight: 500;
    }

    .alert-box {
        max-width: 95vw;
    }

    .custom-confirm {
        width: 90vw;
        top: 40%;
    }

    #edit-user-box {
        width: 90vw;
        padding: 10px;
        top: 40%;
        gap: 10px;
    }

    #login-container #login_page {
        width: 80vw;
        padding: 1%;
        height: auto;
    }
}